edge-tts==7.0.0
gradio==5.12.0
gradio_client==1.5.4
moviepy==2.1.2
pillow>=9.2.0,<11.0
proglog
progress
protobuf==3.20.3
python-dotenv
questionary
tinydb
tinymongo
torch
torchaudio
whisper-timestamped
yt-dlp>=2025.1.12
fsspec[http]<=2024.12.0,>=2023.1.0
numpy>=1.25.0,<2.0.0
pandas>=1.4.0,<2.0.0
datasets>=3.5.0
google-generativeai==0.3.2
PyYAML>=6.0.1
astor
httpx==0.27.2
