wheel>=0.42.0
setuptools>=69.0.0
edge-tts==7.0.0
gradio==5.12.0
gradio_client==1.5.4
moviepy==2.1.2
pillow>=9.2.0,<11.0
proglog==0.1.11
progress==1.6
protobuf==3.20.3
python-dotenv==1.1.0
questionary==2.1.0
tinydb==4.8.2
tinymongo==0.2.0
torch==2.6.0
torchaudio==2.6.0
whisper-timestamped==1.15.8
yt-dlp>=2025.1.12
fsspec[http]<=2024.12.0,>=2023.1.0
numpy==1.26.4
pandas==2.1.4
datasets>=3.5.0
google-generativeai==0.3.2
PyYAML>=6.0.1
astor==0.8.1
httpx==0.27.2
srt==3.5.3
